
.btn{
    background-color: blue;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
.last-jamala{
    margin: 0px 110px;
    margin-bottom: 150px;
}
.last-jamala2{
    height: 450px;
    background-image: url("./image/image01.png");
    background-repeat: no-repeat;
    margin-left: 150px;
}
.div-text{
    text-align: center;
}
.div-text h3{
    color: #272727;
    font-size: 40px;
    font-weight: 800; 
}
.div-text p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
    margin-bottom: 30px;
  }
.div-text input {
    width: 513px;
    padding: 22px;
    border: none;
    border-radius: 8px;
    background: #fff;
    margin-right: 7px;
}
.footer{
    height: 450px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #111010;
}
.footer-section{
    text-align: center;
}
.footer-section h3 {
    color: white;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 30px;
}
.flower {
    color: #e55473;
}
.footer-div{
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}
.jhamala{
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
}